<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ppress.My.MySettings.PPressConnetion" connectionString="Data Source=OPSQLSVR001\SQLSVR2008;Initial Catalog=Ppress;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ppress.My.MySettings.PpressConnection2" connectionString="Data Source=OPSQLSVR001\SQLSVR2008;Initial Catalog=PPRESS18;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
